.swiper{
  width: 100%;
  position: relative;
}

.swiper-button-next, .swiper-button-prev{
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 50px;
  border: 1px solid #1E5DFF;
  border-radius: 50%;
}


.swiper-button-prev{
  top: 165px;
  left: -70px;
  transition: 1s;
  &:hover{
    background: #ffffff;
    &::after{
      color: #0040c2;
    }
  }
}

.swiper-button-next{
  top: 165px;
  right: -70px;
  transition: 1s;
  &:hover{
    background: #ffffff;
    &::after{
      color: #0040c2;
    }
  }
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px;
  color: #1E5DFF;
  transition: 0.5s;
}